<%= form_for(@task) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit "Create task", class: 'btn-btn-primary' %>
  </div>
<% end %>
