@import 'bootstrap-sprockets';
@import 'bootstrap';

// Checklist styles
// CSS REQUIRED
.state-icon {
  left: -5px;
}

.list-group-item-primary {
  background-color: rgb(66, 139, 202);
  color: rgb(255, 255, 255);
}

// REMOVES UNWANTED MARGIN
.well .list-group {
  margin-bottom: 0;
}
